.header {
  background-color: var(--footer-bg);
  background-image: url(./../../img/header/header-bg.jpg);
  background-size: cover;
  aspect-ratio: 1440 / 1084;

  padding-top: 40px;

  color: var(--header-text-color);

  @include retina-bg(url(./../../img/header/header-bg@2x.jpg));

  a {
    color: var(--header-text-color);
  }
}
