.header {
  position: relative;

  background-color: var(--footer-bg);
  background-image: url(./../../img/header/header-bg.jpg);
  background-size: cover;
  aspect-ratio: 1440 / 1084;

  padding-top: 40px;

  color: var(--header-text-color);

  @include retina-bg(url(./../../img/header/header-bg@2x.jpg));

  a {
    color: var(--header-text-color);
  }
}

.header__nav {
  margin-bottom: 86px;
}

.header__content {
  text-align: center;
}

.header__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.8px;
  text-transform: capitalize;
}

.header__content p {
  margin: 0 auto;
  max-width: 606px;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.header__search {
  margin-top: 45px;
  margin-inline: auto;
}

// dots

.header__dot-sofa {
  position: absolute;
  left: 21%;
  top: 64%;
}

.header__dot-vase {
  position: absolute;
  left: 6%;
  top: 70.14%;
}

.header__dot-item {
  position: absolute;
  left: 54.8%;
  top: 70%;
}

.header__dot-wall {
  position: absolute;
  right: 3.194%;
  top: 75.738%;
}
