.products {
  padding-block: 50px;
  background-color: #f7f7f7;
  text-align: center;
}

.products__title {
  margin-bottom: 32px;
}

.products__tabs {
  margin-bottom: 80px;
}
.products__slider {
  margin-bottom: clamp(1.875rem, 0.982rem + 4.46vw, 3.75rem);
  text-align: left;

  @include desktop-small() {
    padding-inline: 40px;
  }

  @include mobile() {
    padding-inline: 20px;
  }
}
.products__link {
}
