.search-form {
  display: flex;
  max-width: 344px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;
  height: 56px;

  border-radius: 42px;
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
}
.search-form__input {
  color: #fff;
  font-size: 18px;
  line-height: 150%;

  &::placeholder {
    color: #fff;
  }
}
.search-form__btn {
  background-color: var(--accent);
  width: 40px;
  height: 40px;
  border-radius: 24px;
}
